<div *ngIf="loading; else content">

    <div class="spinner__loading">
      <div>
        <mat-progress-spinner
          diameter="200"
          [value]="spinner_value"
          mode="determinate">
          </mat-progress-spinner>
      </div>
    </div>
  </div>
  
  
      <ng-template #content>
        <div class="container">
            <h3>Update Purchase Order</h3>

            <h5 [hidden]="status_hidden" style="color: blue;">Supplier Company: {{supplierCompany}}</h5>
            <form class="example-container" [formGroup]="form">
            <mat-form-field>
            <mat-label>Supplier ID</mat-label>
                <select matNativeControl formControlName="supplierid" (ngModelChange)="supplieridChanged($event)" name="supplierid" >   
                    <option *ngFor="let car of supplierid_arr" [value]="car">
                    {{car}}
                    </option>
                </select>
                <mat-hint>Supplier ID</mat-hint>
            </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Total Amount Purchased</mat-label>
                  <input matInput placeholder="Total Amount" type="number" formControlName="totalamount" >
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Purchased By</mat-label>
                <input matInput placeholder="Purchased By" type="text" formControlName="purchasedby" >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Purchase Date</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Purchase Date" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

              <br/>
              <div class="input-group btn-group">
                <button type="submit" (click)="onSubmit()" class="form-control btn" style="height:40px;width:800px;background-color:black;color:whitesmoke" [disabled]="!form.valid">Submit</button>
              </div>
    
          </form>
        </div>
  
      </ng-template>
  
  
  
  