<div *ngIf="loading; else content">

  <div class="spinner__loading">
    <div>
      <mat-progress-spinner
        diameter="200"
        [value]="spinner_value"
        mode="determinate">
        </mat-progress-spinner>
    </div>
  </div>
</div>


<div style="margin: 10vh;">
    <div class="d-flex justify-content-center h-100 w-100">
      <div class="card">
        <div class="card-header">
          <h3>Edit Role</h3>
        </div>


    <ng-template #content>
          <form class="example-container" [formGroup]="form">
            <mat-form-field appearance="outline">
                <mat-label>Role Name</mat-label>
                <input matInput placeholder="Role Name" type="Text"  formControlName="rolename" >
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Role Priviledge</mat-label>
                <input matInput placeholder="Role Preiv" type="number" formControlName="rolepriviledge" >
            </mat-form-field>

            <br/>
            <div class="input-group btn-group">
              <button type="submit" (click)="onSubmit()" class="form-control btn" style="height:40px;width:50vh;background-color:black;color:whitesmoke" [disabled]="!form.valid">Submit</button>
            </div>
  
        </form>

    </ng-template>
  </div>
</div>
</div>


