
.spinner__loading{
  display: block;
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  right: 50%; /* or: left: 50%; */
  margin-top: -100px; /* half of the elements height */
  margin-right: -100px; /* half of the elements width */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80vw;


  .header {
    margin-bottom: 24px;
  }



  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;

    mat-form-field {
      width: 100%;
      margin-bottom: 16px;
    }

    button {
      width: 100%;
      max-width: 800px;
      margin-top: 16px;
    }
  }

  button {
    width: 100%;
    max-width: 800px;
    margin-top: 16px;
  }
}
