

<div *ngIf="loading; else content">

    <div class="spinner__loading">
      <div>
        <mat-progress-spinner
          diameter="200"
          [value]="spinner_value"
          mode="determinate">
          </mat-progress-spinner>
      </div>
    </div>
</div>

  
        <ng-template #content>
                <div fxLayout fxLayoutAlign="center center">
                    <mat-form-field fxFlex="40%">
                        <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
                    </mat-form-field>
                </div>
                
                        <mat-table [dataSource]="AllElement" multiTemplateDataRows  class="mat-elevation-z8" style="width: 80%;max-width: 80% !important;">
                        <!-- Position Column -->
                        <ng-container matColumnDef="salesorderid">
                            <mat-header-cell *matHeaderCellDef> Order ID</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.salesorderid}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="customercompany">
                            <mat-header-cell *matHeaderCellDef> Customer Company</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.customercompany}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="salestype">
                            <mat-header-cell *matHeaderCellDef> Sales type </mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.salestype}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="salesagent">
                            <mat-header-cell *matHeaderCellDef>Sales Agent</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.salesagent}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="totalamount">
                            <mat-header-cell *matHeaderCellDef> Total Amount</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.totalamount}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.status}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="orderdate">
                            <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.orderdate | date: 'dd/MM/yyyy'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="buttons">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let AllElement" (click)="$event.stopPropagation()">
                            <button mat-button color="warn" (click)="onDelete(AllElement.salesorderid)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-button color="warn" (click)="onUpdate(AllElement.salesorderid)">
                                <mat-icon>update</mat-icon>
                            </button>
                            </mat-cell>
                        </ng-container>
                        <!--                                                                -->
                         <!-- Expandable Row Column -->
                            <ng-container matColumnDef="expandedDetail">
                                <mat-cell *matCellDef="let Element" [attr.colspan]="displayedColumns.length">
                                <div class="example-element-detail"
                                    [@detailExpand]="Element == expandedElement ? 'expanded' : 'collapsed'">
                                    <div class="example-element-detail-inner">
                                    <mat-table [dataSource]="Element.details" class="mat-elevation-z8" multiTemplateDataRows style="width: 80%;max-width: 80% !important;">
                                        <ng-container matColumnDef="productcategoryname">
                                            <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                                            <mat-cell *matCellDef="let detail"> {{detail.productcategoryname}} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="productsubcategoryname">
                                            <mat-header-cell *matHeaderCellDef>Sub Category </mat-header-cell>
                                            <mat-cell *matCellDef="let detail"> {{detail.productsubcategoryname}} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="unit">
                                            <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
                                            <mat-cell *matCellDef="let detail"> {{detail.unit}} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="quantity">
                                            <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                                            <mat-cell *matCellDef="let detail"> {{detail.quantity}} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="price">
                                            <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                                            <mat-cell *matCellDef="let detail"> {{detail.price}} </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="detailColumns"></mat-header-row>
                                        <mat-row  *matRowDef="let row; columns: detailColumns;"></mat-row>
                                    </mat-table>
                                    </div>
                                </div>
                                </mat-cell>
                            </ng-container>

                            
                        <!------------------------------------------------------------------>
                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row style="background-color:black" *matRowDef="let row; columns: displayedColumns;"
                            class="example-element-row"
                            [class.example-expanded-row]="expandedElement === row"
                            (click)="expandedElement = expandedElement === row ? null : row"
                        ></mat-row>
                        <mat-row *matRowDef="let row; columns: ['expandedDetail']"></mat-row>
                        </mat-table>
                        <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>
                    
            </ng-template>

<br />
<br />
    
    
    
    
    
  