<div *ngIf="loading; else content">

  <div class="spinner__loading">
    <div>
      <mat-progress-spinner
        diameter="200"
        [value]="spinner_value"
        mode="determinate">
        </mat-progress-spinner>
    </div>
  </div>
</div>

<ng-template #content>

    <div class="change-password-container" >
        <h1 class="header">Change Password</h1>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text" />
            <mat-error *ngIf="changePasswordForm.controls['username'].hasError('required')">
              Username is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Old Password</mat-label>
            <input matInput formControlName="oldPassword" type="password" />
            <mat-error *ngIf="changePasswordForm.controls['oldPassword'].hasError('required')">
              Old Password is required
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newPassword" type="password" />
            <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('required')">
              New Password is required and must be at least 6 characters
            </mat-error>
          </mat-form-field>
      
          <button mat-raised-button color="primary" type="submit">Change Password</button>
        </form>
        <button style="margin-top: 2vh;" (click)="cancel()"  mat-raised-button color="primary" type="button">Cancel</button>
      </div>

</ng-template>
  