<div *ngIf="loading; else content">

  <div class="spinner__loading">
    <div>
      <mat-progress-spinner
        diameter="200"
        [value]="spinner_value"
        mode="determinate">
        </mat-progress-spinner>
    </div>
  </div>
</div>


<ng-template class="my-container" #content>
    <div >

                <h3>Add New Company</h3>
      
                  <form class="example-container" [formGroup]="mainCompanyForm">
                    <mat-form-field appearance="outline">
                        <mat-label>Company Name</mat-label>
                        <input matInput placeholder="User Name" type="Text"  formControlName="companyname" >
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Other</mat-label>
                        <input matInput placeholder="Other" type="text" formControlName="other" >
                    </mat-form-field>

                    <br/>
                    <div class="input-group btn-group">
                      <button type="submit" (click)="onSubmit()" class="form-control btn" style="height:40px;width:50vh;background-color:black;color:whitesmoke" [disabled]="!mainCompanyForm.valid">Submit</button>
                    </div>
          
                </form>


    </div>


</ng-template>
