<div *ngIf="loading; else content">

    <div class="spinner__loading">
      <div>
        <mat-progress-spinner
          diameter="200"
          [value]="spinner_value"
          mode="determinate">
          </mat-progress-spinner>
      </div>
    </div>
</div>

<div style="margin-top: 100px; max-width: 180vh !important;">
  
        <ng-template #content>
                <div fxLayout fxLayoutAlign="center center">
                    <mat-form-field fxFlex="40%">
                        <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
                    </mat-form-field>
                </div>
                     <mat-table [dataSource]="AllElement" multiTemplateDataRows class="mat-elevation-z8" style="width: 80%;max-width: 70% !important;">
                        <!-- Position Column -->
                        <ng-container matColumnDef="purchasepaymentid">
                            <mat-header-cell *matHeaderCellDef>Payment ID</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.suppliercompany}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="suppliercompany">
                            <mat-header-cell *matHeaderCellDef> Supplier</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.suppliercompany}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="paymentdate">
                            <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.paymentdate | date: 'dd/MM/yyyy'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                            <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.amount}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="recievedby">
                            <mat-header-cell *matHeaderCellDef> Recieved by</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.recievedby}} </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="buttons">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let AllElement" (click)="$event.stopPropagation()">
                            <button mat-button color="warn" (click)="onDelete(AllElement.purchasepaymentid)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-button color="warn" (click)="onUpdate(AllElement.purchasepaymentid)">
                                <mat-icon>update</mat-icon>
                            </button>
                            </mat-cell>
                        </ng-container>
                    
                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row style="background-color:black" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    
                        </mat-table>
                        <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>
                    
            </ng-template>
    
</div>
<br />

    
    
    
    
    
  