

<div *ngIf="loading; else content">

  <div class="spinner__loading">
    <div>
      <mat-progress-spinner
        diameter="60"
        [value]="spinner_value"
        mode="determinate">
        </mat-progress-spinner>
    </div>
  </div>
</div>



<ng-template #content>
<div class="login-container">
    <h3 class="header">ERP Login</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
    <button mat-button (click)="changePassword()">Change Password</button>
  </div>
<ng-template #content>