<div *ngIf="loading; else content">
  <div class="spinner__loading">
    <div>
      <mat-progress-spinner
        diameter="200"
        [value]="spinner_value"
        mode="determinate">
        </mat-progress-spinner>
    </div>
  </div>
</div>

    <ng-template #content>
      <div class="container">
          <h3>Add Purchase Category</h3>
          <form class="example-container" [formGroup]="form">

            <mat-form-field appearance="outline">
              <mat-label>Item Name</mat-label>
              <input matInput placeholder="Purchase Name" type="text"  formControlName="itemname">
           </mat-form-field>
           <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput placeholder="description" type="text"  formControlName="description">
          </mat-form-field>

            <br/>
            <div class="input-group btn-group">
              <button type="submit" (click)="onSubmit()" class="form-control btn" style="height:40px;width:800px;background-color:black;color:whitesmoke" [disabled]="!form.valid">Submit</button>
            </div>
  
        </form>
      </div>

    </ng-template>



