<div *ngIf="loading; else content">

    <div class="spinner__loading">
      <div>
        <mat-progress-spinner
          diameter="200"
          [value]="spinner_value"
          mode="determinate">
          </mat-progress-spinner>
      </div>
    </div>
  </div>
  
  
      <ng-template #content>
        <div class="container">
            <h3>Add Sales Order Details</h3>
            <form class="example-container" [formGroup]="form">

                <mat-form-field>
                    <mat-label>Sales Order ID</mat-label>
                    <select matNativeControl formControlName="salesorderid"  name="salesorderid" >   
                      <option *ngFor="let car of salesorderid_arr" [value]="car.salesorderid">
                        {{car.salesorderid}}
                      </option>
                    </select>
                    <mat-hint></mat-hint>
              </mat-form-field>                


              <mat-form-field>
                <mat-label>Product Category</mat-label>
                <select matNativeControl formControlName="productcategoryid"  name="productcategoryid" >   
                  <option *ngFor="let car of productcategoryid_arr" [value]="car">
                    {{car}}
                  </option>
                </select>
                <mat-hint></mat-hint>
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Product Category Name</mat-label>
                  <input matInput placeholder="Category Name" type="text"  formControlName="productcategoryname" readonly>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Sub Category</mat-label>
                <select matNativeControl formControlName="productsubcategoryid"  name="productsubcategoryid" >   
                  <option *ngFor="let car of filteredSubCategories" [value]="car.productsubcategoryid">
                    {{car.productsubcategoryid}}
                  </option>
                </select>
                <mat-hint></mat-hint>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Product Sub Category Name</mat-label>
                <input matInput placeholder="Sub Category Name" type="text"   formControlName="productsubcategoryname" readonly>
             </mat-form-field>


              <mat-form-field appearance="outline">
                <mat-label>Quantity</mat-label>
                <input matInput placeholder="Quantity" type="number"  formControlName="quantity" >
              </mat-form-field>

              <mat-form-field>
                <mat-label>Unit</mat-label>
                <select matNativeControl formControlName="unit" name="unit" >   
                  <option *ngFor="let car of unit_arr" [value]="car">
                    {{car}}
                  </option>
                </select>
                <mat-hint></mat-hint>
              </mat-form-field>

              
              <mat-form-field appearance="outline">
                <mat-label>Unit Price</mat-label>
                <input matInput placeholder="unitprice" type="number"  formControlName="unitprice" readonly="">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Total Price</mat-label>
                <input matInput placeholder="Total Price" type="number"  formControlName="totaldetailprice" >
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description" type="text"  formControlName="description" >
              </mat-form-field>
              <br/>
              <div class="input-group btn-group">
                <button type="submit" (click)="onSubmit()" class="form-control btn" style="height:40px;width:800px;background-color:black;color:whitesmoke" [disabled]="!form.valid">Submit</button>
              </div>
    
          </form>
        </div>
  
      </ng-template>
  
  
  
  