
<div *ngIf="loading; else content">

    <div class="spinner__loading">
      <div>
        <mat-progress-spinner
          diameter="200"
          [value]="spinner_value"
          mode="determinate">
          </mat-progress-spinner>
      </div>
    </div>
  </div>


<div style="margin-top: 100px; max-width: 180vh !important;">
    <div class="d-flex justify-content-center h-100 w-100">
      <div class="card">
  
        <ng-template #content>
                <div fxLayout fxLayoutAlign="center center">
                    <mat-form-field fxFlex="40%">
                        <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
                    </mat-form-field>
                </div>
                
                <div class="row" style="margin-top: 20px;max-width: 80% !important; width: 80%;">
                    <div class="col-md-12" style="max-width: 90% !important;">
                        <mat-table [dataSource]="AllElement" multiTemplateDataRows class="mat-elevation-z8" style="width: 80%;max-width: 80% !important;">
                        <!-- Position Column -->
                        <ng-container matColumnDef="customerid">
                            <mat-header-cell *matHeaderCellDef> Customer Id </mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.customerid}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="customercompany">
                            <mat-header-cell *matHeaderCellDef> Customer Company </mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.customercompany}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="companycontactperson">
                            <mat-header-cell *matHeaderCellDef> Contact Person</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.companycontactperson}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="contactnumber1">
                            <mat-header-cell *matHeaderCellDef> Contact Number 1</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.contactnumber1}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="contactnumber2">
                            <mat-header-cell *matHeaderCellDef>Contact Number 2</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.contactnumber2}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="address">
                            <mat-header-cell *matHeaderCellDef> Address</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.address}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="olddue">
                            <mat-header-cell *matHeaderCellDef> Old Due</mat-header-cell>
                            <mat-cell style="color:whitesmoke" *matCellDef="let Element"> {{Element.olddue}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="buttons">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let AllElement" (click)="$event.stopPropagation()">
                            <button mat-button color="warn" (click)="onDelete(AllElement.customerid)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-button color="warn" (click)="onUpdate(AllElement.customerid)">
                                <mat-icon>update</mat-icon>
                            </button>
                            </mat-cell>
                        </ng-container>
                    
                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row style="background-color:black" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    
                        </mat-table>
                        <mat-paginator #paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
            </ng-template>
    </div>
   </div>
</div>
<br />
<br />
    
    
    
    
    
  